<%
config.social = config.social || {};
theme.social = theme.social || {};
var github = config.social.github || theme.social.github;
var weibo = config.social.weibo || theme.social.weibo;
var linkedin = config.social.linkedin || theme.social.linkedin;
var location = config.location || theme.location;
var url = config.url;
%>
<div class="footer-wrapper container">
  <footer class="footer clearfix">
    <p class="footer-info">
      © 2018 <%= config.author %> ❤ a vegetable bird in FE
    </p>
  </footer>
</div>
